.form{
    display: flex;
    flex-direction: column;
    width:30%;
}
.father{
    display: flex;
    text-align: center;
    justify-content: center;
}
.show{
    display: flex;
    flex-direction: column;
    margin: 2%;
    background-color: azure;
    border: 1px solid black;
}
.abc{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
}